<h2>Guess the sentence.</h2>
<em>Hint: it's something said by the world's most and least privileged people.</em>
<div id="game-state"></div>
<input id="game-input" type="text"></input>
<div id="game-log"></div>
